name: Deploy API, React, and Angular

on:
  workflow_call:
    inputs:
      api_url:
        description: 'API base URL from Terraform'
        required: false
        type: string
        default: ''
      angular_url:
        description: 'Angular Static Web App URL from Terraform'
        required: false
        type: string
        default: ''
      react_url:
        description: 'React Static Web App URL from Terraform'
        required: false
        type: string
        default: ''
  
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: development
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download API artifact
        uses: actions/download-artifact@v4
        with:
          name: api
          path: api_artifact
      - name: Download React artifact
        uses: actions/download-artifact@v4
        with:
          name: react
          path: react_artifact

      - name: Download Angular artifact
        uses: actions/download-artifact@v4
        with:
          name: angular
          path: angular_artifact

      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          enable-AzPSSession: false
          allow-no-subscriptions: true

      - name: Deploy API to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ vars.AZURE_API_APP_SERVICE_NAME }}
          package: api_artifact

      # https://azure.github.io/static-web-apps-cli/docs/cli/swa-deploy/
      
        # Only the 'production' environment exists for Azure Static Web Apps unless using PR previews.
        # Use --env production to deploy to the persistent environment.
      - name: Deploy React to Azure Static Web App
        run: |
          npm install -g @azure/static-web-apps-cli
          swa deploy ./react_artifact --env production --subscription-id ${{ secrets.AZURE_SUBSCRIPTION_ID }} --resource-group ${{ vars.AZURE_RESOURCE_GROUP }} --app-name ${{ vars.AZURE_STATIC_WEBAPP_NAME_REACT }} --no-use-keychain

      - name: Deploy Angular to Azure Static Web App
        run: |
          npm install -g @azure/static-web-apps-cli
          swa deploy ./angular_artifact/dist/todo/browser --env production --subscription-id ${{ secrets.AZURE_SUBSCRIPTION_ID }} --resource-group ${{ vars.AZURE_RESOURCE_GROUP }} --app-name ${{ vars.AZURE_STATIC_WEBAPP_NAME_ANGULAR }} --no-use-keychain
