name: Main Deployment Pipeline

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  # Job 1: Generates the matrix configuration
  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      target_envs: ${{ steps.gen-target-env-matrix.outputs.target_envs }}
    steps:
      - name: Generate Matrix
        id: gen-target-env-matrix
        run: echo 'target_envs=["dev", "prod"]' >> "$GITHUB_OUTPUT"

  terraform:
    name: Provision Infrastructure
    needs: [generate-matrix]
    if: ${{ needs.generate-matrix.outputs.target_envs != '' }}
    uses: ./.github/workflows/terraform.yml
    secrets: inherit
    permissions:
      id-token: write
      contents: read
    concurrency:
      group: terraform-${{ github.workflow }}-${{ matrix.target_env }}-${{ github.run_id }}
    strategy:
      matrix:
        target_env: ${{ fromJson(needs.generate-matrix.outputs.target_envs) }}
    with:
      target_env: ${{ matrix.target_env }}

  api:
    name: API
    needs: [generate-matrix, terraform]
    secrets: inherit
    permissions:
      id-token: write
      contents: read
    if: ${{ needs.generate-matrix.outputs.target_envs != '' }}
    uses: ./.github/workflows/api.yml
    concurrency:
      group: api-${{ github.workflow }}-${{ matrix.target_env }}-${{ github.run_id }}
    strategy:
      matrix:
        target_env: ${{ fromJson(needs.generate-matrix.outputs.target_envs) }}
    with:
      target_env: ${{ matrix.target_env }}

  frontend:
    name: Deploy Frontend Applications
    needs: [generate-matrix, terraform]
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      needs.generate-matrix.outputs.target_envs != '[]'
    uses: ./.github/workflows/frontend.yml
    secrets: inherit
    permissions:
      id-token: write
      contents: read
    concurrency:
      group: frontend-${{ github.workflow }}-${{ matrix.target_env }}-${{ github.run_id }}
    strategy:
      matrix:
        target_env: ${{ fromJson(needs.generate-matrix.outputs.target_envs) }}
    with:
      target_env: ${{ matrix.target_env }}