name: Main Deployment Pipeline

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  # Job 1: Generates the matrix configuration
  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      target_envs: ${{ steps.gen-target-env-matrix.outputs.target_envs }}
    steps:
      - name: Generate Matrix
        id: gen-target-env-matrix
        run: echo 'target_envs=["development","production"]' >> "$GITHUB_OUTPUT"

  terraform:
    name: Provision Infrastructure
    needs: [generate-matrix]
        # The "if" guard prevents fromJson from running on an empty/null value
    if: ${{ needs.generate-matrix.outputs.target_envs != '' && needs.generate-matrix.outputs.target_envs != '[]' }}
    uses: ./.github/workflows/terraform.yml
    secrets: inherit
    permissions:
      id-token: write
      contents: read
    concurrency:
      group: '${{ matrix.target_env }}'
    strategy:
      matrix:
        target_env: ${{ fromJson(needs.generate-matrix.outputs.target_envs) }}
    with:
      target_env: ${{ matrix.target_env }}

  build:
    name: Build Applications
    needs: [generate-matrix, terraform]
    if: ${{ needs.generate-matrix.outputs.target_envs != '' && needs.generate-matrix.outputs.target_envs != '[]' }}
    uses: ./.github/workflows/build.yml
    secrets: inherit
    concurrency:
      group: '${{ matrix.target_env }}'
    strategy:
      matrix:
        target_env: ${{ fromJson(needs.generate-matrix.outputs.target_envs) }}
    with:
      target_env: ${{ matrix.target_env }}
      api_url: ${{ needs.terraform.outputs.api_url }}
      angular_url: ${{ needs.terraform.outputs.frontend_url }}/todo/angular
      react_url: ${{ needs.terraform.outputs.frontend_url }}/todo/react
      frontend_client_id: ${{ needs.terraform.outputs.frontend_client_id }}
      api_client_id: ${{ needs.terraform.outputs.api_client_id }}
      api_scope_uri: ${{ needs.terraform.outputs.api_scope_uri }}

  deploy:
    name: Deploy Applications
    needs: [generate-matrix, terraform, build]
    if: ${{ needs.generate-matrix.outputs.target_envs != '' && needs.generate-matrix.outputs.target_envs != '[]' }}
    uses: ./.github/workflows/deploy.yml
    secrets: inherit
    permissions:
      id-token: write
      contents: read
    concurrency:
      group: '${{ matrix.target_env }}'
    strategy:
      matrix:
        target_env: ${{ fromJson(needs.generate-matrix.outputs.target_envs) }}
    with:
      target_env: ${{ matrix.target_env }}
      api_url: ${{ needs.terraform.outputs.api_url }}