name: Main Deployment Pipeline

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  terraform:
    name: Provision Infrastructure
    uses: ./.github/workflows/terraform.yml
    secrets: inherit
    permissions:
      id-token: write
      contents: read

  build:
    name: Build Applications
    needs: terraform
    uses: ./.github/workflows/build.yml
    with:
      api_url: ${{ needs.terraform.outputs.api_url }}
      angular_url: ${{ needs.terraform.outputs.angular_url }}
      react_url: ${{ needs.terraform.outputs.react_url }}
      angular_client_id: ${{ needs.terraform.outputs.angular_client_id }}
      react_client_id: ${{ needs.terraform.outputs.react_client_id }}
      api_client_id: ${{ needs.terraform.outputs.api_client_id }}
      tenant_id: ${{ secrets.AZURE_TENANT_ID }}
      api_scope: ${{ needs.terraform.outputs.api_scope }}

  deploy:
    name: Deploy Applications
    needs: [terraform, build]
    uses: ./.github/workflows/deploy.yml
    secrets: inherit
    permissions:
      id-token: write
      contents: read
    with:
      api_url: ${{ needs.terraform.outputs.api_url }}
      angular_url: ${{ needs.terraform.outputs.angular_url }}
      react_url: ${{ needs.terraform.outputs.react_url }}
