name: Terraform Infrastructure

on:
  workflow_call:
    inputs:
      target_env:
        description: 'Target environment'
        required: true
        type: string
jobs:
  terraform:
    runs-on: ubuntu-latest
    environment: ${{ inputs.target_env }}
    permissions:
      id-token: write
      contents: read
    env:
      TERRAFORM_DIR: DevOps/Infrastructure/Terraform
      TF_WORKSPACE: "todo-${{ inputs.target_env }}"
      TF_VAR_api_build_configuration: ${{ vars.API_BUILD_CONFIGURATION }}
      TF_VAR_target_env: ${{ inputs.target_env }}
      TF_VAR_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
      TF_VAR_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      TF_VAR_dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
      TF_VAR_dockerhub_password: ${{ secrets.DOCKERHUB_TOKEN }}
      TF_VAR_frontend_image: ${{ vars.FRONTEND_IMAGE }}
      TF_VAR_api_image: ${{ vars.API_IMAGE }}
      TF_VAR_frontend_container_app_name: ${{ vars.AZURE_FRONTEND_CONTAINER_APP_NAME }}
      TF_VAR_frontend_container_name: ${{ vars.AZURE_FRONTEND_CONTAINER_NAME }}
      TF_VAR_api_container_app_name: ${{ vars.AZURE_API_CONTAINER_APP_NAME }}
      TF_VAR_api_container_name: ${{ vars.AZURE_API_CONTAINER_NAME }}
      TF_VAR_resource_group_name: ${{ vars.AZURE_RESOURCE_GROUP }}-${{ inputs.target_env }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          enable-AzPSSession: false

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.3
          terraform_wrapper: false
          cli_config_credentials_token: ${{ secrets.TF_HCP_API_TOKEN }}

      - name: Terraform Init
        working-directory: ${{ env.TERRAFORM_DIR }}
        run: terraform init

      - name: Terraform Plan
        working-directory: ${{ env.TERRAFORM_DIR }}
        run: terraform plan

      - name: Terraform Apply
        working-directory: ${{ env.TERRAFORM_DIR }}
        run: terraform apply -auto-approve